<div class="container">
    <div class="row">
        <div class="col-sm-12 pt-3">
            <h3>Edit Account</h3>
            <%if (can? :manage, @item) %>
                <%= render partial: "form" %>
            <%end%>
        </div>
    </div>
</div>
